@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

.pre-wedding {
    margin: 0 auto;
    width: 80%; /* Adjust as needed */
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color:var(--green);
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Add some space between rows */
}

.column {
    flex: 25%; /* Each column takes up 1/4 of the row */
    padding: 3px;
}

.column img {
    width: 100%; /* Make images fill the entire column */
    height: 200px; /* Fixed height for images */
    object-fit: contain; /* Maintain aspect ratio while covering the column */
    border: 2px solid var(--green); /* Add border to each image */
    border-radius: 5px; /* Add border radius */
}
